#createCust { display: none; size: 600px; }
#shipTo { display: none; size: 600px; }
#deleteCust { display: none; size: 600px; }
.redtext { color: red; }
#result { color: green; }
#result2 { color: green; }
#result3 { color: green; }